<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="Crypture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="Crypture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="RecoveryProtectionDescriptor" value=""/>
    <add key="RecoveryCertificateBase64" value=""/>
  </appSettings>
  <applicationSettings>
    <Crypture.Properties.Settings>
      <setting name="ShowItemFileUpload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDpapiNgProtection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableCertificateProtection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCertificateTools" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ItemTextExpressionFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupMessageText" serializeAs="String">
        <value />
      </setting>
      <setting name="AutomaticallyAddedCertificatesList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
    </Crypture.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Crypture.Properties.Settings>
      <setting name="AllowSelfSignedCertificates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PerformCertificateRevocationCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThemeMode" serializeAs="String">
        <value>System</value>
      </setting>
    </Crypture.Properties.Settings>
  </userSettings>

</configuration>
